#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db > #backgroundBox {
  position: absolute;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db > #alignmentBox {
  position: relative;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Image_3 {
  position: absolute;
  width: 1365.999999999999px;
  height: 768.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_1 {
  position: absolute;
  width: 51.6796875px;
  min-height: 23.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_2 {
  position: absolute;
  width: 51.6796875px;
  min-height: 23.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_3 {
  position: absolute;
  width: 120.48046875000068px;
  min-height: 23.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Image {
  position: absolute;
  width: 247.0000000000001px;
  height: 130.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_7 {
  position: absolute;
  width: 704.3671875000002px;
  min-height: 162.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_8 {
  position: absolute;
  width: 704.3671875000002px;
  min-height: 162.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Image_1 {
  position: absolute;
  width: 247.0000000000001px;
  height: 130.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Image_2 {
  position: absolute;
  width: 247.0000000000001px;
  height: 130.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_9 {
  position: absolute;
  width: 704.3671875000002px;
  min-height: 162.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_9 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-01514f4f-9d35-4b71-9bbd-ef5079fc66db > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}