#s-7790122a-39da-45a3-b81d-0e11de59401d > #backgroundBox {
  position: absolute;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d > #alignmentBox {
  position: relative;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Image_1 {
  position: absolute;
  width: 1366.0000000000005px;
  height: 768.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_1 {
  position: absolute;
  width: 51.6796875px;
  min-height: 23.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_2 {
  position: absolute;
  width: 51.6796875px;
  min-height: 23.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_3 {
  position: absolute;
  width: 120.48046875000068px;
  min-height: 23.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Table_1 {
  position: absolute;
  width: 440.21000000000004px;
  height: 246.0000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Table_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Table_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_31 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_31 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_31 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_31 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_31 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_31 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_32 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_32 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_32 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_32 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_32 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_32 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_33 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_33 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_33 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_33 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_33 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_33 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_34 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_34 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_34 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_34 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_34 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_34 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_35 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_35 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_35 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_35 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_35 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_35 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_36 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_36 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_36 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_36 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_36 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_36 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_37 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_37 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_37 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_37 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_37 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_37 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_38 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_38 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_38 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_38 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_38 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_38 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_39 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_39 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_39 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_39 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_39 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_39 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_40 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_40 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_40 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_40 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_40 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_40 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_41 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_41 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_41 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_41 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_41 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_41 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_42 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_42 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_42 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_42 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_42 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_42 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_43 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_43 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_43 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_43 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_43 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_43 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_44 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_44 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_44 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_44 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_44 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_44 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_45 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_45 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_45 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_45 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_45 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_45 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_46 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_46 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_46 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_46 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_46 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_46 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_47 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_47 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_47 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_47 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_47 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_47 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_48 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_48 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_48 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_48 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_48 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_48 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_49 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_49 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_49 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_49 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_49 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_49 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_50 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_50 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_50 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_50 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_50 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_50 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_51 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_51 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_51 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_51 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_51 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_51 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_52 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_52 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_52 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_52 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_52 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_52 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_53 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_53 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_53 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_53 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_53 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_53 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_54 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_54 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_54 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_54 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_54 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_54 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_55 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_55 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_55 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_55 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_55 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_55 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_56 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_56 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_56 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_56 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_56 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_56 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_57 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_57 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_57 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_57 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_57 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_57 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_58 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_58 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_58 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_58 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_58 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_58 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_59 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_59 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_59 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_59 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_59 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_59 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_60 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_60 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_60 .verticalalign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_60 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_60 {
  width: 20.04008016032064%;
  height: 16.666666666666664%;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Cell_60 > .cellContainerChild > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 25.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 25.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Image {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Image_2 {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Image_3 {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Input_15 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Input_15 input::-moz-placeholder {
  color: #82888C;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Input_15 input:-moz-placeholder {
  color: #82888C;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Input_15 input:-ms-input-placeholder {
  color: #82888C;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Input_15 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Input_15 .valign {
  vertical-align: middle;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Input_15 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Input_15 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Input_15 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Input_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 32px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Path_1 {
  position: absolute;
  width: 13.0px;
  height: 13.0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Image_4 {
  position: absolute;
  width: 158.62890625000023px;
  height: 102.04422360262504px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Image_5 {
  position: absolute;
  width: 151.0px;
  height: 106.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d #s-Image_6 {
  position: absolute;
  width: 150.99999999999955px;
  height: 102.99999999999983px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7790122a-39da-45a3-b81d-0e11de59401d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}